In [1]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql._

val spark = SparkSession.builder()
.appName("dataset")
.getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://d281b57a8bf3:4040
SparkContext available as 'sc' (version = 3.5.0, master = local[*], app id = local-1706658127310)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql._
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@45aa9013

In [15]:
val cdf = spark.read
    .option("inferSchema", "true")
    .json("./dataset/cars.json")

cdf.show(2)

+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|                Name|Origin|Weight_in_lbs|      Year|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|        12.0|        8|       307.0|       130|            18.0|chevrolet chevell...|   USA|         3504|1970-01-01|
|        11.5|        8|       350.0|       165|            15.0|   buick skylark 320|   USA|         3693|1970-01-01|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
only showing top 2 rows

cdf: org.apache.spark.sql.DataFrame = [Acceleration: double, Cylinders: bigint ... 7 more fields]

In [28]:
 import spark.implicits._

case class Car(
            Acceleration: Double,
            Cylinders: Long,
            Displacement: Double,
            Horsepower: Option[Long],
            Miles_per_Gallon: Option[Double],
            Name: String,
            Origin: String,
            Weight_in_lbs: Long,
            Year: String
            )

import spark.implicits._
defined class Car

In [29]:
val cds = cdf.as[Car]

cds: org.apache.spark.sql.Dataset[Car] = [Acceleration: double, Cylinders: bigint ... 7 more fields]

In [30]:
cdf.collect()(0)

res15: org.apache.spark.sql.Row = [12.0,8,307.0,130,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01]

In [31]:
cds.collect()(0)

res16: Car = Car(12.0,8,307.0,Some(130),Some(18.0),chevrolet chevelle malibu,USA,3504,1970-01-01)

In [35]:
cds.filter(col("Name").contains("amc")).show(5)

+------------+---------+------------+----------+----------------+------------------+------+-------------+----------+
|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|              Name|Origin|Weight_in_lbs|      Year|
+------------+---------+------------+----------+----------------+------------------+------+-------------+----------+
|        12.0|        8|       304.0|       150|            16.0|     amc rebel sst|   USA|         3433|1970-01-01|
|         8.5|        8|       390.0|       190|            15.0|amc ambassador dpl|   USA|         3850|1970-01-01|
|        11.0|        8|       360.0|       175|            NULL|amc rebel sst (sw)|   USA|         3850|1970-01-01|
|        15.5|        6|       199.0|        97|            18.0|        amc hornet|   USA|         2774|1970-01-01|
|        15.0|        6|       199.0|        90|            21.0|       amc gremlin|   USA|         2648|1970-01-01|
+------------+---------+------------+----------+----------------+------------------+------+-------------+----------+
only showing top 5 rows

In [47]:
val cols = List(cds.columns)

cols: List[Array[String]] = List(Array(Acceleration, Cylinders, Displacement, Horsepower, Miles_per_Gallon, Name, Origin, Weight_in_lbs, Year))

In [48]:
cds.map(car => car.Name.toUpperCase()).show

+--------------------+
|               value|
+--------------------+
|CHEVROLET CHEVELL...|
|   BUICK SKYLARK 320|
|  PLYMOUTH SATELLITE|
|       AMC REBEL SST|
|         FORD TORINO|
|    FORD GALAXIE 500|
|    CHEVROLET IMPALA|
|   PLYMOUTH FURY III|
|    PONTIAC CATALINA|
|  AMC AMBASSADOR DPL|
|CITROEN DS-21 PALLAS|
|CHEVROLET CHEVELL...|
|    FORD TORINO (SW)|
|PLYMOUTH SATELLIT...|
|  AMC REBEL SST (SW)|
| DODGE CHALLENGER SE|
|  PLYMOUTH 'CUDA 340|
|FORD MUSTANG BOSS...|
|CHEVROLET MONTE C...|
|BUICK ESTATE WAGO...|
+--------------------+
only showing top 20 rows

In [49]:
cds.map(car => car.Name.contains("ford")).show

+-----+
|value|
+-----+
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
|false|
|false|
|false|
|false|
| true|
|false|
|false|
+-----+
only showing top 20 rows