In [6]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql._

val spark = SparkSession.builder()
.appName("sparksql")
.getOrCreate()

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql._
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@295bda8b

In [7]:
val cars = spark.read.option("inferSchema", "true").json("./dataset/cars.json")

cars: org.apache.spark.sql.DataFrame = [Acceleration: double, Cylinders: bigint ... 7 more fields]

In [3]:
cars.createOrReplaceTempView("cars")

spark.sql(
    """
    SELECT Name, Origin FROM cars WHERE Origin = 'USA'
    """
    ).show(3)

+--------------------+------+
|                Name|Origin|
+--------------------+------+
|chevrolet chevell...|   USA|
|   buick skylark 320|   USA|
|  plymouth satellite|   USA|
+--------------------+------+
only showing top 3 rows

In [7]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [8]:
spark.sql("create database midnight")

spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
| midnight|
+---------+

In [9]:
val spark = SparkSession.builder()
.appName("sparksql")
.config("spark.sql.warehouse.dir", "manual-warehouse")
.getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@295bda8b

In [11]:
spark.sql("create database temp")
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|     temp|
+---------+

In [6]:
spark.sql("use auto")

org.apache.spark.sql.catalyst.analysis.NoSuchDatabaseException:  [SCHEMA_NOT_FOUND] The schema `auto` cannot be found. Verify the spelling and correctness of the schema and catalog.

In [14]:
val carsFilter = cars.filter(col("Origin") === "USA")

carsFilter.coalesce(1).write.mode(SaveMode.Overwrite).saveAsTable("usacar")

carsFilter: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Acceleration: double, Cylinders: bigint ... 7 more fields]

In [13]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [15]:
spark.sql("select * from usacar limit 10").show()

+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|                Name|Origin|Weight_in_lbs|      Year|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|        12.0|        8|       307.0|       130|            18.0|chevrolet chevell...|   USA|         3504|1970-01-01|
|        11.5|        8|       350.0|       165|            15.0|   buick skylark 320|   USA|         3693|1970-01-01|
|        11.0|        8|       318.0|       150|            18.0|  plymouth satellite|   USA|         3436|1970-01-01|
|        12.0|        8|       304.0|       150|            16.0|       amc rebel sst|   USA|         3433|1970-01-01|
|        10.5|        8|       302.0|       140|            17.0|         ford torino|   USA|         3449|1970-01-01|
|        10.0|        8|       429.0|       198|            15.0|    ford galaxie 500|   USA|         4341|1970-01-01|
|         9.0|        8|       454.0|       220|            14.0|    chevrolet impala|   USA|         4354|1970-01-01|
|         8.5|        8|       440.0|       215|            14.0|   plymouth fury iii|   USA|         4312|1970-01-01|
|        10.0|        8|       455.0|       225|            14.0|    pontiac catalina|   USA|         4425|1970-01-01|
|         8.5|        8|       390.0|       190|            15.0|  amc ambassador dpl|   USA|         3850|1970-01-01|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+

In [2]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder
.appName("sparksql")
.config("spark.sql.warehouse.dir", "/workspace/spark/manual-warehouse")
.config("spark.ui.port", "0")
.enableHiveSupport
.getOrCreate()

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@226cfc2

In [5]:
import sys.process._

"ls /workspace"!

spark
spark-3.5.0-bin-hadoop3

warning: one feature warning; for details, enable `:setting -feature' or `:replay -feature'
import sys.process._
res2: Int = 0

In [4]:
1. sparark.sql.warehouse.dir=/workspace/spark/warehouse

2. create database manual location '/workspace/spark/warehouse/manual.db';

CREATE DATABASE temp
SELECT current_database()
USE temp
SHOW tables
DROP DATABASE temp CASCADE

<console>: 26: error: not found: value %

In [5]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+